<div class="row text-justify">
  <div class="col text-center preview-title {%cycle "order-1", "order-2"%}" >

    <table>
      <tbody>
        <tr>
          <td class="align-middle text-center">
            <a href="{{post.url}}">
              <h1>{{post.title}}</h1>
            </a>

            <p class="tag text-center">
              {%for tag in post.tags%}
                <a href="/tags/#{{ tag | slugify}}">{{tag}}</a>
              {%endfor%}
            </p>
          </td>
        </tr>
        <tr>
      </tbody>
    </table>

  </div>
  <div class="col text-justify preview-excerpt {%cycle "order-2", "order-1"%}">
    <table>
      <tbody>
        <tr>
          <td class="align-middle text-justify">
            <a href="{{post.url}}">
              {{post.excerpt | strip_html | truncate: site.preview_len}}
            </a>
          </td>
        </tr>
        <tr>
      </tbody>
    </table>

  </div>
</div>
