---
---
@import "minima";
@import "minima/syntax-highlighting";

@import url('https://fonts.googleapis.com/css?family=Exo|Roboto|Alfa+Slab+One');



html, body{
  height: 100%;
  /* Background pattern from Toptal Subtle Patterns */
  //background-image: url("/assets/imgs/extra_clean_paper_@2X.png");
}

*{
  font-family: 'Roboto', sans-serif;
  font-size: 14pt
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Exo', sans-serif;
  font-weight: bolder;
  font-variant: small-caps;

  margin: 0;
}

h1{
  font-size: 48pt;
}

table{
  height: 100%;
}

table, tbody, td, table td{
  border:none;
  color: inherit;
}

a{
  color: black !important;
  text-decoration: none !important;

  &:link, &:visited, &:active{
  }

  &:hover{
    color: rgba(0, 0, 0, .5) !important;
  }

}


.title{
  font-weight: 900;
  font-size: 64pt;

  margin: 1rem;
}

.small_text{
  font-size: 10pt;
}

header{
  box-shadow: 1px 0px 3px black;

  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.content{

  margin-bottom: 1rem;
}

.post{
  text-align: justify;
}
