---
---
@import "minima";
@import "minima/syntax-highlighting";

@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway');


$teal: #3A9C8E;

@mixin forMobile($break: 500px) {
    @media screen and (max-width: $break) {
      @content
    }
}

html, body{
  height: 100%;
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cabin, sans-serif;
  font-weight: bold;
}

a:link, a:hover, a:visited{
  color: inherit;
  text-decoration: none;
}

header{
  background-color: $teal;
  font-weight: bold;
  color: white;
  transition: 0.5s;
  position: relative;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  width: 100%;

  a{
    transition: 0.5s
  }
  a:hover{
    background-color: white;
    color: $teal;
  }
}

.navigation{
  a{
    flex-grow: 1;
    text-align: center;
    padding: 1rem;
  }
}


.padding-0{
  padding: 0;
}

.hero{
  background-color: $teal;;
  height: 100VH;
  font-weight: bold;

  padding: 2rem;
  @include forMobile {
    padding: 1rem;
  };

  .title{
    position: absolute;
    bottom: 0;
    h1{
      font-size: 80pt;
      @include forMobile {
        font-size: 48pt;
      };
    }
  }
}

.about{
  height: 100vh;
}
